node_modules/
.venv/
__pycache__/
*.pyc
.env
dist/
.vscode/
.DS_Store
*.db
screenshots
EVALUACION_LISTA_CHEQUEO.md
GUIA_POSTMAN.md
LISTA_CHEQUEO_VALORACION_FINAL_PROYECTO_FASTAPI_FICHA_-_3406211 (1) (1).md